<div class="container rounded-5 p-5 bg-light mt-5">
    <form action="" [formGroup]="tempForm">
        <label for="celcius">Celcius</label>
        <input class="form-control" type="text" id="celcius" formControlName="celcius" [(ngModel)]="celcius" (keyup)="convertToF($event)" value="0"><br>
        <label for="ftemp">Fahrenheit</label>
        <input class="form-control" type="text" id="ftemp" formControlName="fahrenheit" [(ngModel)]="fahrenheit" (keyup)="convertToC($event)" value="32">
        <p class="text-danger">Formula:   (0°C x 9/5) + 32 = 32°F</p>
    </form>
    <p>{{result}}</p>
</div>
